html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
#header {
  display: flex;
  background-color: #006699;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: 0.45rem;
  font-weight: normal;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
}
#main {
  padding: 0.45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .mui-scroll-wrapper form {
  display: flex;
  padding: .1rem;
  padding-bottom: 0;
}
#main .mui-scroll-wrapper form input {
  flex: 1;
  height: .34rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: .14rem;
  border-radius: .06rem 0 0 .06rem;
}
#main .mui-scroll-wrapper form button {
  width: .6rem;
  height: .34rem;
  border: 1px solid #006699;
  border-radius: 0 .06rem .06rem 0;
  background-color: #006699;
  color: #fff;
}
#main .mui-scroll-wrapper .history span {
  font-size: .14rem;
}
#main .mui-scroll-wrapper .history a {
  color: #666;
}
#footer {
  background-color: #006699;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 998;
}
#footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0.45rem;
  color: #fff;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: orange;
}
#header a {
  color: #fff;
}
#main {
  background-color: #fff;
}
#main a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 0 .1rem;
  padding-bottom: .1rem;
}
#main a .left {
  width: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main a .left img {
  width: 100%;
}
#main a .left > div {
  height: .23rem;
  position: relative;
}
#main a .left > div input {
  position: absolute;
  top: -0.03rem;
  left: 50%;
  transform: translateX(-50%);
}
#main a .left > div input::before {
  color: hotpink;
}
#main a .right {
  flex: 1;
  padding-top: .15rem;
}
#main a .right p {
  white-space: normal;
}
#main a .right .price {
  padding: .1rem 0;
}
#main a .right .price span {
  color: red;
}
#main a .right .price del {
  color: #666;
}
#main a .right .params {
  display: flex;
  justify-content: space-between;
}
